---
version: '3'

dotenv:
  - .env

tasks:
  shell:
    desc: Shell
    cmds:
      - docker exec -it {{ .CONTAINER_NAME }} sh
  backup:
    desc: Backup the application's volume data.
    cmds:
      - docker exec {{ .CONTAINER_NAME }}-backup-1 backup
  rm:
    desc: Remove container
    cmds:
      - docker container rm {{ .CONTAINER_NAME }}
      - docker container rm {{ .CONTAINER_NAME }}-backup-1
      - docker volume rm {{ .CONTAINER_NAME }}_data
  export:
    silent: true
    desc: Export the task list to `task-list.txt`.
    cmds:
      - task --list > task-list.txt
  watch:
    desc: Watch the application's Docker container logs.
    cmds:
      - docker compose logs -f
  pull:
    desc: Pull Docker images for the application.
    cmds:
      - docker compose pull
  status:
    desc: Check the status of the application's Docker containers.
    cmds:
      - docker container ps
  init:
    desc: Initialize the application's environment and configuration files.
    cmds:
      - cp .env.tmpl .env
      - cp settings.json.tmpl settings.json
    ignore_error: true
  decrypt:
    desc: Decrypt sensitive configuration files using SOPS.
    cmds:
      - sops -d --input-type dotenv --output-type dotenv .env.enc > .env
      - sops -d --input-type json --output-type json settings.json.enc > settings.json
  encrypt:
    desc: Encrypt sensitive configuration files using SOPS.
    cmds:
      - sops -e .env > .env.enc
      - sops -e settings.json > settings.json.enc
  update:
    desc: Update the application or its running containers.
    cmds:
      - docker compose up --force-recreate --build -d
      - docker image prune -a -f
  up:
    desc: Run Docker Compose in the foreground.
    cmds:
      - docker compose up
  up-d:
    desc: Run Docker Compose in the background.
    cmds:
      - docker compose up -d --remove-orphans
  restart:
    desc: Restart the application's Docker containers.
    cmds:
      - docker compose restart
  upgrade:
    desc: Upgrade the application by pulling the latest changes and updating.
    cmds:
      - git pull origin
      - task: update
  verify-secrets:
    desc: Checks if the decrypted secrets match the local files
    cmds:
      - echo "Secrets are in sync. Proceeding..."
    preconditions:
      - sh: diff -q .env <(sops -d --input-type dotenv --output-type dotenv .env.enc)
        msg: "The encrypted .env file and unencrypted .env file do not match! Please re-encrypt your changes."
      - sh: diff -q settings.json <(sops -d --input-type json --output-type json settings.json.enc)
        msg: "The encrypted settings.json file and unencrypted settings.json file do not match! Please re-encrypt your changes."
  stop:
    desc: Stop the application's Docker containers.
    cmds:
      - docker compose stop
  default:
    cmds:
      - task -l
    silent: true
    desc: List all available tasks.
