*.deb
site/
*.swp
**/AdGuardHome.yaml
**/adguardhome-sync.yaml
**/.env
acme*
**/docker/netbootxyz/config/
**/docker/netbootxyz/assets/
scan.db
**/secret.txt
**/url-watches.json

**/registry/config.yml

**/semaphoreui/config.json
semaphore_db.bolt

**/gitea/app.ini

filebrowser.db
**/filebrowser/settings.json

backup.conf

**/pinchflat/config/

**/convertx/data/

**/ntfy/client.yml
**/ntfy/server.yml

**/gotify/config.yml

# Exclude image and video files in pve/frame-fi/pictures/ but allow .gitkeep
pve/frame-fi/pictures/*.jpg
pve/frame-fi/pictures/*.jpeg
pve/frame-fi/pictures/*.png
pve/frame-fi/pictures/*.gif
pve/frame-fi/pictures/*.bmp
pve/frame-fi/pictures/*.tiff
pve/frame-fi/pictures/*.webp
pve/frame-fi/pictures/*.svg
pve/frame-fi/pictures/*.mp4
pve/frame-fi/pictures/*.mov
pve/frame-fi/pictures/*.avi
pve/frame-fi/pictures/*.mkv
pve/frame-fi/pictures/*.webm
pve/frame-fi/pictures/*.flv
pve/frame-fi/pictures/*.wmv
!pve/frame-fi/pictures/.gitkeep
# Patchmon
*.creds
patchmon.conf

**/rpc.secret
**/aria2.daemon

**/wg1.conf

**/secure-shell-preferences-backup.json

**/openmediavault/config.xml
**/openmediavault/php.ini
