
acme*
**/adguardhome-sync.yaml
**/AdGuardHome.yaml
.agents/mcp_config.json
.agents/settings.json
.antigravity/mcp_config.json
.antigravity/settings.json
**/aria2.daemon
backup.conf
.codegraph/
**/config.json
**/config.toml
**/config.yaml
**/config.yml
**/convertx/data/
*.creds
*.deb
**/docker/netbootxyz/assets/
**/docker/netbootxyz/config/
**/.env
# Exclude image and video files in pve/frame-fi/pictures/ but allow .gitkeep
filebrowser.db
**/filebrowser/settings.json
**/gitea/app.ini
**/gotify/config.yml
*.log
**/ntfy/client.yml
**/ntfy/server.yml
**/openmediavault/config.xml
**/openmediavault/php.ini
# Patchmon
patchmon.conf
**/pinchflat/config/
**/proxmox-mcp-plus/**/config.json
pve/frame-fi/pictures/*.avi
pve/frame-fi/pictures/*.bmp
pve/frame-fi/pictures/*.flv
pve/frame-fi/pictures/*.gif
!pve/frame-fi/pictures/.gitkeep
pve/frame-fi/pictures/*.jpeg
pve/frame-fi/pictures/*.jpg
pve/frame-fi/pictures/*.mkv
pve/frame-fi/pictures/*.mov
pve/frame-fi/pictures/*.mp4
pve/frame-fi/pictures/*.png
pve/frame-fi/pictures/*.svg
pve/frame-fi/pictures/*.tiff
pve/frame-fi/pictures/*.webm
pve/frame-fi/pictures/*.webp
pve/frame-fi/pictures/*.wmv
__pycache__/
**/registry/config.yml
**/rpc.secret
.rtk/
scan.db
**/secret.txt
**/secure-shell-preferences-backup.json
semaphore_db.bolt
**/semaphoreui/config.json
site/
*.swp
*.tar.zst
**/url-watches.json
**/wg1.conf
