[Unit]
Description = webhook is a lightweight incoming webhook server to run shell commands
After = network.target

[Service]
ExecStart = /usr/local/bin/webhook -hooks /root/git/nicholaswilde/homelab/pve/webhook/hooks.yaml -verbose

[Install]
WantedBy = multi-user.target
