---
services:
  cyberkeygen:
    container_name: "${CONTAINER_NAME}"
    image: "nginx:1.29.5"
    env_file:
      - .env
    ports:
      - '8080:80'
    restart: always
    volumes:
      - "${CONFIG_DIR}:/usr/share/nginx/html"
