version: '3'
dotenv:
  - .env
tasks:
  build:
    desc: Build
    cmds:
      - npm run --prefix {{ .INSTALL_DIR }} build
  decrypt:
    desc: Decrypt sensitive configuration files using SOPS.
    cmds:
      - sops -d --input-type dotenv --output-type dotenv .env.enc > .env
  deps:
    desc: Install dependencies
    cmds:
      - sudo apt update
      - sudo apt install npm git -y
  encrypt:
    desc: Encrypt sensitive configuration files using SOPS.
    cmds:
      - sops -e .env > .env.enc
  export:
    silent: true
    desc: Export the task list to `task-list.txt`.
    cmds:
      - task --list > task-list.txt
  init:
    desc: Init everything
    cmds:
      - rm -rf {{ .INSTALL_DIR }}
      - mkdir -p {{ .INSTALL_DIR }}
      - git clone https://github.com/karthik558/CyberKeyGen.git {{ .INSTALL_DIR }}
      - npm install --prefix {{ .INSTALL_DIR }} -D vite
  init-env:
    desc: Initialize the application's environment file.
    cmds:
      - cp .env.tmpl .env
  pull:
    desc: Pull Docker images for the application.
    cmds:
      - docker compose pull
  restart:
    desc: Restart the application's Docker containers.
    cmds:
      - docker compose restart
  status:
    desc: Check the status of the application's Docker containers.
    cmds:
      - docker container ps
  stop:
    desc: Stop the application's Docker containers.
    cmds:
      - docker compose stop
  up:
    desc: Run Docker Compose in the foreground.
    cmds:
      - docker compose up
  up-d:
    desc: Run Docker Compose in the background.
    cmds:
      - docker compose up -d --remove-orphans
  update:
    desc: Update the application or its running containers.
    cmds:
      - git -C {{ .INSTALL_DIR }} pull origin
      - task: build
      - docker compose up --force-recreate --build -d
      - docker image prune -a -f
  upgrade:
    desc: Upgrade the application by pulling the latest changes and updating.
    cmds:
      - git pull origin
      - task: update
  verify-secrets:
    desc: Checks if the decrypted secret matches the local file
    cmds:
      - echo "Secrets are in sync. Proceeding..."
    preconditions:
      - sh: diff -q .env <(sops -d --input-type dotenv --output-type dotenv .env.enc)
        msg: The encrypted file and unencrypted file do not match! Please re-encrypt
          your changes.
  watch:
    desc: Watch the application's Docker container logs.
    cmds:
      - docker compose logs -f
  default:
    cmds:
      - task -l
    silent: true
    desc: List all available tasks.
