[Unit]
Description={{ APP_NAME }} Webhook Listener
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/git/nicholaswilde/homelab/lxc/{{ APP_NAME | lower }}
ExecStart=/usr/local/bin/webhook -hooks hooks.json -verbose -port 9000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
