[Unit]
Description = Synchronize AdGuard Home config to replicas
After = network.target

[Service]
ExecStart = /usr/local/bin/adguardhome-sync --config ${HOME}/git/nicholaswilde/homelab/pve/adguardhome-sync/adguardhome-sync.yaml run

[Install]
WantedBy = multi-user.target
