version: '3'
dotenv:
  - .env
env:
  APP_NAME: '{{ .APP_NAME }}'
tasks:
  decrypt:
    desc: Decrypt sensitive configuration files using SOPS.
    preconditions:
      - test -f .env.enc
    cmds:
      - sops -d --input-type dotenv --output-type dotenv .env.enc > .env
    ignore_error: true
  encrypt:
    desc: Encrypt sensitive configuration files using SOPS.
    cmds:
      - sops -e .env > .env.enc
  update:
    desc: Update running containers
    preconditions:
      - test -f update.sh
    cmds:
      - ./update.sh
  export:
    silent: true
    desc: Export the task list
    cmds:
      - task --list > task-list.txt
  new:
    desc: Create a new config file
    cmds:
      - jinja2 -D APP_NAME={{shellQuote .APP_NAME }} conf.d/.template.yaml.j2
  watch:
    desc: Watch the log file
    preconditions:
      - test -f /var/log/traefik/traefik.log
    cmds:
      - tail -f /var/log/traefik/traefik.log
  restart:
    desc: Restart Traefik
    cmds:
      - systemctl restart {{ .SERVICE_NAME }}.service
  status:
    desc: View the Traefik service status
    cmds:
      - systemctl status {{ .SERVICE_NAME }}.service
  stop:
    desc: Stop the Traefik service
    cmds:
      - systemctl stop {{ .SERVICE_NAME }}.service
  verify-secrets:
    desc: Checks if the decrypted secret matches the local file
    cmds:
      - echo "Secrets are in sync. Proceeding..."
    preconditions:
      - sh: diff -q .env <(sops -d --input-type dotenv --output-type dotenv .env.enc)
        msg: The encrypted file and unencrypted file do not match! Please re-encrypt
          your changes.
  default:
    cmds:
      - task -l
    silent: true
