[Unit]
Description=Traefik Webhook Listener
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/git/nicholaswilde/homelab/pve/traefik
ExecStart=/usr/bin/webhook -hooks hooks.json -verbose -port 9000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
