[Unit]
Description=Ventoy Web Service
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/opt/ventoy/VentoyWeb.sh
Restart=always

[Install]
WantedBy=multi-user.target
