---
tags:
  - lxc
  - vm
  - proxmox
---
# :simple-{{ APP_NAME | lower }}: {{ APP_NAME }}

## :hammer_and_wrench: Installation

!!! example ""

    :material-console-network: Default Port: `{{ APP_PORT }}`
{% if CONFIG_PATH is defined %}    
    :material-information-outline: Configuration path: `{{ CONFIG_PATH }}`
{% endif %}

!!! quote ""

    === "AMD64"

        ```shell
        bash -c "$(wget -qLO - https://github.com/community-scripts/ProxmoxVE/raw/main/ct/{{ APP_NAME | lower }}.sh)"
        ```

    === "ARM64"

        ```shell
        bash -c "$(wget -qLO - https://github.com/asylumexp/Proxmox/raw/main/ct/{{ APP_NAME | lower }}.sh)"
        ```

## :gear: Config

Make symlinks to repo.

## :simple-task: Task List

!!! example ""

    ```yaml
    --8<-- "{{ APP_NAME | lower }}/task-list.txt"
    ```

## :link: References

- <https://community-scripts.github.io/ProxmoxVE/scripts?id={{ APP_NAME | lower }}>
- <https://pimox-scripts.com/scripts?id={{ APP_NAME }}>
