---
version: '3'

dotenv:
  - .env

tasks:
  watch:
    desc: Watch the docker logs
    cmds:
      - docker compose logs -f
  export:
    silent: true
    desc: Export the task list to `task-list.txt`.
    cmds:
      - task --list > task-list.txt
  init:
    desc: Initialize the application's environment and configuration files.
    preconditions:
      - test -f .env.tmpl
    cmds:
      - cp .env.tmpl .env
      - sed -i 's|DB_PASSWORD=.*|DB_PASSWORD='"$(openssl rand -hex 32)"'|g' .env
  decrypt:
    desc: Decrypt sensitive configuration files using SOPS.
    cmds:
     - sops -d --input-type dotenv --output-type dotenv .env.enc > .env
  encrypt:
    desc: Encrypt sensitive configuration files using SOPS.
    cmds:
      - sops -e .env > .env.enc
  update:
    desc: Update the application or its running containers.
    cmds:
      - docker compose up --force-recreate --build -d
      - docker image prune -a -f
  update-go:
    desc: Update immich-go
    cmds:
      - sudo ./update.sh
  up:
    desc: Run Docker Compose in the foreground.
    cmds:
      - docker compose up
  up-d:
    desc: Run Docker Compose in the background.
    cmds:
      - docker compose up -d --remove-orphans
  restart:
    desc: Restart the application's Docker containers.
    cmds:
      - "docker compose restart"
  upgrade:
    desc: Upgrade the application by pulling the latest changes and updating.
    cmds:
      - git pull origin
      - task: update
  verify-secrets:
    desc: Checks if the decrypted secret matches the local file
    cmds:
      - echo "Secrets are in sync. Proceeding..."
    preconditions:
      - sh: diff -q .env <(sops -d --input-type dotenv --output-type dotenv .env.enc)
        msg: "The encrypted file and unencrypted file do not match! Please re-encrypt your changes."
  default:
    cmds:
      - task -l
    silent: true
    desc: List all available tasks.
