version: '3'
dotenv:
  - .env
tasks:
  backup:
    desc: Backup the application's volume data.
    cmds:
      - docker exec {{ .CONTAINER_NAME }}-backup_minio-1 backup
      - docker exec {{ .CONTAINER_NAME }}-backup_postgres-1 backup
  export:
    silent: true
    desc: Export the task list to `task-list.txt`.
    cmds:
      - task --list > task-list.txt
  watch:
    desc: Watch the application's Docker container logs.
    cmds:
      - docker compose logs -f
  pull:
    desc: Pull Docker images for the application.
    cmds:
      - docker compose pull
  status:
    desc: Check the status of the application's Docker containers.
    cmds:
      - docker container ps
  init:
    desc: Initialize the application's environment and configuration files.
    preconditions:
      - test -f .env.tmpl
    cmds:
      - cp .env.tmpl .env
      - sed -i 's|POSTGRES_PASSWORD=.*|POSTGRES_PASSWORD='"$(openssl rand -hex 32)"'|g'
        .env
      - sed -i 's|MINIO_ROOT_PASSWORD=.*|MINIO_ROOT_PASSWORD='"$(openssl rand -hex
        32)"'|g' .env
      - sed -i 's|ACCESS_TOKEN_SECRET=.*|ACCESS_TOKEN_SECRET='"$(openssl rand -hex
        32)"'|g' .env
      - sed -i 's|REFRESH_TOKEN_SECRET=.*|REFRESH_TOKEN_SECRET='"$(openssl rand -hex
        32)"'|g' .env
      - sed -i 's|STORAGE_ACCESS_KEY=.*|STORAGE_ACCESS_KEY='"$(openssl rand -hex 32)"'|g'
        .env
      - sed -i 's|STORAGE_SECRET_KEY=.*|STORAGE_SECRET_KEY='"$(openssl rand -hex 32)"'|g'
        .env
  decrypt:
    desc: Decrypt sensitive configuration files using SOPS.
    cmds:
      - sops -d --input-type dotenv --output-type dotenv .env.enc > .env
  encrypt:
    desc: Encrypt sensitive configuration files using SOPS.
    cmds:
      - sops -e .env > .env.enc
  update:
    desc: Update the application or its running containers.
    cmds:
      - docker compose up --force-recreate --build -d
      - docker image prune -a -f
  up:
    desc: Run Docker Compose in the foreground.
    cmds:
      - docker compose up
  up-d:
    desc: Run Docker Compose in the background.
    cmds:
      - docker compose up -d --remove-orphans
  restart:
    desc: Restart the application's Docker containers.
    cmds:
      - docker compose restart
  upgrade:
    desc: Upgrade the application by pulling the latest changes and updating.
    cmds:
      - git pull origin
      - task: update
  verify-secrets:
    desc: Checks if the decrypted secret matches the local file
    cmds:
      - echo "Secrets are in sync. Proceeding..."
    preconditions:
      - sh: diff -q .env <(sops -d --input-type dotenv --output-type dotenv .env.enc)
        msg: The encrypted file and unencrypted file do not match! Please re-encrypt
          your changes.
  stop:
    desc: Stop the application's Docker containers.
    cmds:
      - docker compose stop
  default:
    cmds:
      - task -l
    silent: true
    desc: List all available tasks.
